/* General Setup */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
}

/* Navbar */
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 60px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease-in; /* Smooth transition for black background */
}

.nav-black {
    background-color: #111;
}

.nav-logo {
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
}

.nav-avatar {
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}

/* Banner / Hero Section */
.banner {
    background-image: url("https://image.tmdb.org/t/p/original/56v2KjBlU4XaOv9rVYkJu64COcfe.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit: contain;
    height: 448px;
}

.banner-contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner-title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner-description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
}

.banner-button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
}

.banner-button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

/* Fade Effect at bottom of banner */
.banner-fadeBottom {
    height: 7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37, 37, 37, 0.61),
        #111
    );
}

/* Rows */
.row {
    margin-left: 20px;
    color: white;
}

.row-posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll; /* Allow horizontal scrolling */
    padding: 20px;
}

/* Hide Scrollbar for Chrome/Safari */
.row-posters::-webkit-scrollbar {
    display: none;
}
/* Hide Scrollbar for IE/Edge/Firefox */
.row-posters {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.row-poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms; /* Smooth zoom */
    border-radius: 5px;
}

.row-poster:hover {
    transform: scale(1.08); /* Zoom effect */
}

.row-posterLarge {
    max-height: 250px;
}